<div class="col-lg-6 mb-4 mx-auto">
  <div class="card-body">
    <br>

    <div>
      <div class="text-center" style="opacity: .7">
        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4 " width="380" height="600" src="img/istmina.jpg">
        {{!-- <img src="img/rafaela.jpg" alt="Upload" class="card-img-top" width="300" height="550" /> --}}
      </div>
    </div>

    <div class="card-body text-center" style="opacity: .8">
      <h2 class="m-0 font-weight-bold text-warning">BEYMAR MOSQUERA</h2>
      <h5 class="m-0 font-weight-bold text-warning"><strong>ALCALDE</strong></h5>
      <h6 class="m-0 font-weight-bold text-warning"><strong>2024 - 2027</strong></h6>
    </div>
  </div>
</div>