<div class="container mt-1">
  <div class="row">
    <div class="col-md-12">
      <div class="card-header d-flex align-items-center" style="background-color: rgba(232, 240, 254, 0.90)">
        <i class="text-success mr-1"></i><strong class="municipio">Departamento del Meta</strong>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-12 mx-auto">
      <div class="card ">
        <div class="card-body">
          <div class="table-responsive">
            <table id="tab-dptal" class="table table-bordered" style="width:100%" cellspacing="0">
              <thead class="text-white" style="background-color: #165a96">
                <td><strong>Codigo</strong></td>
                <td><strong>Municipio</strong></td>
                <td><strong>Tot Puestos</strong></td>
                <td><strong>Tot Mesas</strong></td>
                <td><strong>Mesas Report</strong></td>
                <td><strong>% Report</strong></td>
                <td><strong>Tot Votos</strong></td>
                <td><strong>Tot Sufrag</strong></td>
                <td><strong>Balance</strong></td>
                <td><strong>Acción</strong></td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *************************** empieza el modal Agregar/Editar alumno ******************************* -->
  <div class="modal fade" id="modalResult" role="dialog" tabindex="0" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
        </div>
        <form id="formResult">
          <font size=2>
            <div class="modal-body">
              <div class="col-sm-10 mx-auto">
                <div class="row">
                  <div class="col-8">
                    Candidato
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre1"
                      value="JOSE DOMINGO CASANOVA T." readonly>
                  </div>
                  <div class="col-4">
                    Votos
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos1"
                      id="votos1" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre2"
                      value="JORGE ARTURO MATAMOROS B." readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos2"
                      id="votos2" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre3"
                      value="ADAIR LOZANO OSORIO" readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos3"
                      id="votos3" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre4"
                      value="GILDARDO SANTOS CHAPARRO" readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos4"
                      id="votos4" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre5"
                      value="LUIS CARLOS RODRIGUEZ H." readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos5"
                      id="votos5" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre6"
                      value="CESAR AUGUSTO JIMENEZ H." readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos6"
                      id="votos6" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre7"
                      value="MONICA MARIA CALDERON G." readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos7"
                      id="votos7" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre8"
                      value="LUCY FERNANDA TAMAYO FIERRO" readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos8"
                      id="votos8" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre9"
                      value="INGRY JANEHT GORDO R." readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos9"
                      id="votos9" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre10"
                      value="BRAY MARTINEZ ARIZA" readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos10"
                      id="votos10" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre11"
                      value="HERYCK FABIAN AGUDELO M." readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos11"
                      id="votos11" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre12"
                      value="CARLOS JULIO PLATA B.." readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos12"
                      id="votos12" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre13"
                      value="JHONNY STEVENSON GIRALDO A." readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos13"
                      id="votos13" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre14"
                      value="DORA ALBILIA ROJAS C." readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos14"
                      id="votos14" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre15"
                      value="VOTOS EN BLANCO" readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos15"
                      id="votos15" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre16"
                      value="VOTOS NULOS" readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos16"
                      id="votos16" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" style="height: 25px; font-size: 12px;" name="nombre17"
                      value="VOTOS NO MARCADOS" readonly>
                  </div>
                  <div class="col-4">
                    <input type="number" class="form-control" style="height: 25px; font-size: 12px;" name="votos17"
                      id="votos17" readonly>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </font>
        </form>
      </div>
    </div>
  </div>
  <!-- *************************** termina lo modal agregar/Editar *************************************** -->

</div>

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>

<script type="text/javascript" language="javascript"
  src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" language="javascript"
  src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript" src="/js/tabledptal.js"></script>

<script>
  const myvotos1 = document.getElementById('votos1');
  const myvotos2 = document.getElementById('votos2');
  const myvotos3 = document.getElementById('votos3');
  const myvotos4 = document.getElementById('votos4');
  const myvotos5 = document.getElementById('votos5');
  const myvotos6 = document.getElementById('votos6');
  const myvotos7 = document.getElementById('votos7');
  const myvotos8 = document.getElementById('votos8');
  const myvotos9 = document.getElementById('votos9');
  const myvotos10 = document.getElementById('votos10');
  const myvotos11 = document.getElementById('votos11');
  const myvotos12 = document.getElementById('votos12');
  const myvotos13 = document.getElementById('votos13');
  const myvotos14 = document.getElementById('votos14');
  const myvotos15 = document.getElementById('votos15');
  const myvotos16 = document.getElementById('votos16');
  const myvotos17 = document.getElementById('votos17');

  function limpiar() {
    myvotos1.value = '';
    myvotos2.value = '';
    myvotos3.value = '';
    myvotos4.value = '';
    myvotos5.value = '';
    myvotos6.value = '';
    myvotos7.value = '';
    myvotos8.value = '';
    myvotos9.value = '';
    myvotos10.value = '';
    myvotos11.value = '';
    myvotos12.value = '';
    myvotos13.value = '';
    myvotos14.value = '';
    myvotos15.value = '';
    myvotos16.value = '';
    myvotos17.value = '';
  }

  //TRAER RESULTADOS POR MUNICIPIO 
  function traeResult(myCodigo) {
    $.ajax({
      url: "/envios/resultmpios/" + myCodigo,
      method: 'POST',
      contentType: 'application/x-www-form-urlencoded',
      success: function (res) {
        datos = res;

        myvotos1.value = datos[0].can1;
        myvotos2.value = datos[0].can2;
        myvotos3.value = datos[0].can3;
        myvotos4.value = datos[0].can4;
        myvotos5.value = datos[0].can5;
        myvotos6.value = datos[0].can6;
        myvotos7.value = datos[0].can7;
        myvotos8.value = datos[0].can8;
        myvotos9.value = datos[0].can9;
        myvotos10.value = datos[0].can10;
        myvotos11.value = datos[0].can11;
        myvotos12.value = datos[0].can12;
        myvotos13.value = datos[0].can13;
        myvotos14.value = datos[0].can14;
        myvotos15.value = datos[0].blancos;
        myvotos16.value = datos[0].nulos;
        myvotos17.value = datos[0].nomarcado;
      },
      error: function (error) {
        // Manejar el caso de error si es necesario
        console.log('Error en la petición AJAX', error);
      }
    });
  };

  window.addEventListener("pageshow", function (e) {
    e.preventDefault();
    if (event.persisted) {
      location.reload();
    }
  });
</script>