<div class="container">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-header text-center" style="background-color: rgba(232, 240, 254, 0.50)">
          <a class="navbar-brand mr-0 mr-md-0  text-primary">
            <font size=6>
              <i class="fa fa-arrow-right text-primary" aria-hidden="true"></i>
              <strong>Iniciar sesión</strong>
            </font>
          </a>
        </div>
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="input-group mb-3">
              <input type="text" name="username" placeholder="Username" class="form-control" autofocus required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" name="password" placeholder="Password" class="form-control" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block">
              Sing In
            </button>
          </form>
          <font size=2>
            <p class="mb-2">
              <a href="/forgot">Recuperar contraseña?</a>
            </p>
          </font>
        </div>
      </div>
    </div>
  </div>
</div>